.post-link {
    position: relative;
    top: 4rem;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    transition: 0.3s;
    background-color: #ffffff;
    width: 60%;
    height: 6rem;
    margin: 2rem;
    border-radius: .25rem;
    color: #000000;
}

.post-link a {
    color: #000000;
    margin: 2rem;
    text-decoration: none;
}

.post-link a:hover {
    color: #ff7f7e;
}